*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.nav_items{
    list-style-type: none;
}
.nav_items ul{
    list-style-type: none;

}
.nav_items li, .logo_container{
    padding: 8px 12px;
}
.nav_items a{
    color: #363636;
    text-decoration: none;
    font-size: 18px;
}
#navbar{
    display: flex;
    justify-content: space-between;        
    align-items: center;
    padding: 16px 32px;
}

.nav_items{
    display: grid;
    grid-template-columns: auto auto auto auto;

}
.nav_items li i{
    margin-left: 10px;
}

.last_list:not(:last-child){
    border-bottom: 1px solid black;
    padding-bottom: 20px !important;
}
.list_header{
    padding-top: 20px !important;
}

.relative_list{
    position: relative;
}
.dropdown_menu{
    position: absolute;
    display: none;
    min-width: 280px;
    border: 20px;
background-color: red;
}
.relative_list:hover .dropdown_menu{
    display: block;
}

/* hero_styles */
.hero_section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    gap: 50px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
    font-size: 20px;
    background-image: linear-gradient(128deg,rgba(17,10,73,0.95),rgba(42,10,73,0.98));
}

.left_section h2{
    color: #1BD3C6;
    font-weight: 500;
}
.left_section h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 20px;
    /* max-width: 75%;  */
}
.left_section button{
    padding: 20px 40px;
    border-radius: 5px;
    margin-top: 80px;
    background-color: #1bd3c6;
    color:#0B091C;
    font-weight: 700;
    font-size: 16px;
}
.right_section h2{
    font-size: 20px;
    font-weight: 400;
}
.right_section .card_container{
    margin-top: 20px;

}
